[Desktop Entry]
Encoding=UTF-8
Comment=Simple taskbar indicator
Exec=stripbar
GenericName[en_US]=stripbar
GenericName=stripbar
Icon=stripbar
Name[en_US]=stripbar
Name=stripbar
Categories=Development;
StartupNotify=false
Terminal=false
Type=Application
